
@font-face {font-family: "iconfont";
  src:url('iconfont.ttf?t=1525764785410') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1525764785410#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GDB:before { content: "\e73a"; }

.icon-SPDB:before { content: "\e697"; }

.icon-nongcunxinyonghezuoshe:before { content: "\e68e"; }

.icon-CMBC:before { content: "\e698"; }

.icon-BOCOM:before { content: "\e60b"; }

.icon-CCITICB:before { content: "\e60f"; }

.icon-EGB:before { content: "\e643"; }

.icon-HXB:before { content: "\e77b"; }

.icon-ICBC:before { content: "\e614"; }

.icon-CCB:before { content: "\e848"; }

.icon-CMB:before { content: "\e84b"; }

.icon-CEB:before { content: "\e85f"; }

.icon-RHB:before { content: "\e63f"; }

.icon-HSB:before { content: "\e645"; }

.icon-BoC:before { content: "\e726"; }

.icon-ABC:before { content: "\e7ba"; }

.icon-PSBC:before { content: "\e7bb"; }

.icon-PABC:before { content: "\e623"; }

.icon-OCB:before { content: "\e699"; }

.icon-faq:before { content: "\e6a1"; }

.icon-success:before { content: "\e6a2"; }

.icon-checkout:before { content: "\e6a3"; }

.icon-record:before { content: "\e6a4"; }

.icon-fase:before { content: "\e6a5"; }

.icon-progress:before { content: "\e6a6"; }

.icon-close:before { content: "\e6a7"; }

.icon-Process:before { content: "\e6a8"; }

.icon-Signed:before { content: "\e6a9"; }

.icon-upload-Contacts:before { content: "\e6aa"; }

.icon-time:before { content: "\e6ab"; }

.icon-jd:before { content: "\e6ac"; }

.icon-authentification:before { content: "\e6ad"; }

.icon-evaluation:before { content: "\e6ae"; }

.icon-tip:before { content: "\e6af"; }

.icon-address:before { content: "\e6b0"; }

.icon-Contacts:before { content: "\e6b1"; }

.icon-bankcard:before { content: "\e6b2"; }

.icon-data:before { content: "\e6b3"; }

.icon-delete:before { content: "\e6b4"; }

.icon-show:before { content: "\e6b5"; }

.icon-feedback:before { content: "\e6b6"; }

.icon-operator:before { content: "\e6b7"; }

.icon-order:before { content: "\e6b8"; }

.icon-credit:before { content: "\e6b9"; }

.icon-alipay:before { content: "\e6ba"; }

.icon-quality:before { content: "\e6bb"; }

.icon-checkbox-selected:before { content: "\e76f"; }

.icon-btn-selected:before { content: "\e611"; }

