* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.hide {
  display: none !important;
}

body{
  background: #fff;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

header {
  height: 61.6vw;
  position: relative;
}

header .banner {
  position: absolute;
  width: 100%;
}

header .head-content {
  text-align: center;
  width: 100%;
  position: absolute;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  font-size: 4.8vw;
}

header .head-content .back {
  float: left;
  width: 5.33333vw;
}

header .head-content .head-title {
  display: inline-block;
  color: #fff;
  font-size: 4.66667vw;
}

header .head-content .manage {
  float: right;
  width: 5.33333vw;
  width: 5.33333vw;
}

header .login-dialog {
  width: 43vw;
  position: absolute;
  left: 24.66667vw;
  top: 20vw;
  text-align: center;
  color: #fff;
}

header .login-dialog .person-img {
  width: 21.33333vw;
  height: 21.33333vw;
  display: block;
  margin: 0 auto;
}

header .login-dialog .loginbtn{
  float: left;
}

header .login-dialog .loginbtn a {
  width: 20vw;
  height: 8vw;
  background: #80c5ff;
  border-radius: 1.33333vw;
  color: #fff;
  text-align: center;
  line-height: 8.66667vw;
  margin-top: 4vw;
  font-size: 4.66667vw;
  float: left;
}

header .login-dialog .loginbtn a.register{
  margin-left: 3vw;
}


header .login-dialog #account{
  margin-top: 5vw;
  font-size: 4.66667vw;
}

.content .list {
  width: 91.33333vw;
  margin: 0 auto;
}

.content .list li {
  border-bottom: 1px solid #efefef;
  line-height: 14.4vw;
  height: 14.4vw;
}

.content .list li .icon {
  width: 4.66667vw;
  height: 4.93333vw;
  float: left;
  margin-top: 5.33333vw;
}
.content .list li  .card{
  width: 5.733333333333333vw;
  height: 3.8666666666666667vw;
}

.content .list li .address{
  width: 4.266666666666667vw;
  height: 5.2vw;
}

.content .list li .help{
  width: 4vw;
  height: 5.733333333333333vw;
}

.content .list li .feedback{
  width: 4.266666666666667vw;
  height: 4.266666666666667vw;
}

.content .list li p {
  display: inline-block;
  margin-left: 3.06667vw;
  font-size: 4.66667vw;
  margin-top: 1.33333vw;
}

.content .list li .more {
  float: right;
  margin-top: 6.66667vw;
  width: 2.13333vw;
  height: 3.46667vw;
}

footer {
  height: 30.66667vw;
  background: #f4f4f4;
  position: absolute;
  bottom: -30vw;
  left: 0;
  width: 100%;
  font-size: 4vw;
}

footer p {
  text-align: center;
}

footer .tel {
  margin-top: 10.26667vw;
}

footer .time {
  margin-top: 4vw;
}
