* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

body{
  background: #fff;
}

header {
  height: 61.6vw;
  width: 100%;
  position: relative;
  z-index: 1;
}

header .banner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

header .head-content {
  height: 18.8vw;
  width: 100%;
  padding-left: 2.8vw;
  padding-right: 4.8vw;
  padding-top: 5.6vw;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

header .head-content .back {
  margin-left: 2.93333vw;
  float: left;
  width: 5.33333vw;
}

header .head-content .head-title {
  color: #fff;
  font-size: 4.8vw;
}

header .head-content .manage {
  width: 5.33333vw;
  width: 5.33333vw;
}

header .login-dialog {
  width: 100%;
  height: 42.8vw;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  padding-top: 2.8vw;
  padding-bottom: 3.2vw;
}

header .login-dialog img {
  width: 21.33333vw;
  height: 21.33333vw;
}

header .login-dialog .btn-group {
  width: 45.6vw;
  height: 8.66667vw;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

header .login-dialog .btn-group div {
  width: 20.66667vw;
  height: 8.66667vw;
  background: #80c5ff;
  border-radius: 1.6vw;
  color: #fff;
  font-size: 4.8vw;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  outline: none;
  border: none;
  text-align: center;
}

.list {
  width: 100%;
  padding-left: 2.8vw;
}

.account{
  color: #fff;
  font-size: 4.8vw;
}

.list .list-item {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  height: 13.6vw;
}

.list .list-item .list-icon {
  width: 8vw;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
}

.list .list-item .list-message {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  border-bottom: 1px solid #efefef;
  padding-right: 4vw;
}

.list .list-item .list-message img {
  width: 2.13333vw;
  height: 3.46667vw;
}

.list .list-item:nth-of-type(1) .list-icon svg {
  width: 4.66667vw;
  height: 4.93333vw;
}

.list .list-item:nth-of-type(2) .list-icon svg {
  width: 4.66667vw;
  height: 4.93333vw;
}

.list .list-item:nth-of-type(3) .list-icon svg {
  width: 5.73333vw;
  height: 3.86667vw;
}

.list .list-item:nth-of-type(4) .list-icon svg {
  width: 4.26667vw;
  height: 5.2vw;
}

.list .list-item:nth-of-type(5) .list-icon svg {
  width: 4.13333vw;
  height: 5.73333vw;
}

.list .list-item:nth-of-type(6) .list-icon svg {
  width: 4.4vw;
  height: 4.26667vw;
}

footer {
  width: 100%;
  height: 30.66667vw;
  background: #f4f4f4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 4vw;
}

footer p {
  text-align: center;
}

.hide {
  display: none!important;
}

footer .tel {
  margin-top: 10.26667vw;
}

footer .time {
  margin-top: 4vw;
}
