* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
}

body {
  background: #f3f3f3;
}

header {
  height: 12vw;
  background: #fff;
  line-height: 12vw;
  text-align: center;
}

header .back {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 5.46667vw;
}

header .header-title {
  font-size: 4.66667vw;
}

.content .money {
  height: 13.2vw;
  border-bottom: 1px solid #efefef;
  background: #fff;
  margin-top: 4vw;
  line-height: 13.2vw;
}

.content .money .sum {
  font-size: 4vw;
  float: left;
  margin-left: 4vw;
}

.content .money .price {
  margin-left: 10vw;
  font-size: 4.26667vw;
  float: left;
}

.content .money .explain {
  float: right;
  margin-right: 5.2vw;
  color: #666;
}

.content .money .explain img {
  width: 4vw;
  height: 4vw;
  float: left;
  margin-top: 4.66667vw;
}

.content .money .explain .explain-text {
  display: inline-block;
  margin-left: 0.8vw;
  font-size: 3.73333vw;
}

.content .select {
  height: 14.53333vw;
  line-height: 14.53333vw;
}

.content .select p {
  padding-left: 4vw;
  font-size: 4vw;
}

.content .bank .banklist li {
  padding-left: 4vw;
  height: 17.33333vw;
  border-bottom: 1px solid #efefef;
  background: #fff;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.content .bank .banklist li .pay-type {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  padding-left: 2.66667vw;
  position: relative;
  width: 81.73333vw;
}

.content .bank .banklist li .pay-type .alipay {
  margin-top: 1.33333vw;
}

.content .bank .banklist li .pay-type img {
  width: 8vw;
  height: 8vw;
  float: left;
}

.content .bank .banklist li .pay-type .bank-name {
  margin-left: 2.13333vw;
  font-size: 4.26667vw;
  line-height: 8vw;
}

.content .bank .banklist li .pay-type .cardnum {
  font-size: 3.2vw;
  float: left;
  margin-top: 1.2vw;
  position: absolute;
  left: 8vw;
  bottom: -4.66667vw;
}

.content .bank .banklist li .pay-type .cardnum .pass {
  margin-top: 0.4vw;
  float: left;
  margin-right: 2.93333vw;
}

.content .bank .banklist li .pay-type .cardnum span {
  float: left;
}

.content .bank .banklist li .pay-type .message {
  font-size: 3.2vw;
  padding-left: 2.13333vw;
  float: left;
}

.content .bank .banklist li .select {
  width: 7.33333vw;
  height: 7.33333vw;
  border-radius: 100%;
  display: inline-block;
  margin-right: 4vw;
  position: relative;
}

.content .bank .banklist li .selectd {
  border: none;
}

.content .bank .banklist li .selectd img {
  width: 7.33333vw;
  height: 7.33333vw;
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 86.66667vw;
  height: 12.66667vw;
  margin-top: 12vw;
  border-radius: 2vw;
  background: #1990fe;
  color: #fff;
  font-size: 5.06667vw;
  line-height: 12.66667vw;
  outline: none;
  border: none;
  text-align: center;
}
