* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
}

body {
  background: #fff;
}

header {
  height: 12vw;
  background: #fff;
  line-height: 12vw;
  text-align: center;
}

header .back {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 5.46667vw;
}

header .header-title {
  font-size: 4.66667vw;
  display: inline;
}

.logo {
  width: 60vw;
  height: 15.2vw;
  margin: 13.33333vw auto;
}

.logo .logo-img {
  width: 15.2vw;
  height: 15.2vw;
  float: left;
}

.logo .logo-text {
  width: 22.66667vw;
  height: 7.06667vw;
  margin-left: 4vw;
  margin-top: 1.33333vw;
}

.logo .text {
  font-size: 3.2vw;
  margin-left: 4vw;
  float: left;
  margin-top: 2vw;
}

.login {
  height: 10.66667vw;
  margin: 23.06667vw auto;
  border-bottom: 0.4vw solid #e0e0e0;
  width: 96vw;
  margin-left: 4vw;
}

.login .areacode {
  width: 17.33333vw;
  height: 10.66667vw;
  text-align: center;
  line-height: 10.66667vw;
  border-right: 0.4vw solid #e0e0e0;
  float: left;
}

.login .phone {
  height: 100%;
  outline: none;
  border: none;
  padding-left: 6.66667vw;
}

.btn {
  width: 86.66667vw;
  height: 12.66667vw;
  background: #1990fe;
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 5.06667vw;
  border-radius: 2vw;
  outline: none;
  border: none;
}
