* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
}

body {
  background: #f4f4f4;
}

header {
  height: 12vw;
  background: #fff;
  line-height: 12vw;
  text-align: center;
}

header .back {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 5.46667vw;
}

header .header-title {
  font-size: 4.66667vw;
  display: inline;
}

.changepass .updatepass {
  background: #fff;
}

.changepass .updatepass li {
  width: 94.66667vw;
  height: 13.33333vw;
  border-bottom: 0.4vw solid #efefef;
  margin-left: 5.33333vw;
  line-height: 13.33333vw;
}


.changepass .updatepass li .text {
  font-size: 4vw;
  float: left;
}

.changepass .updatepass li input {
  outline: none;
  border: none;
  margin-left: 10vw;
  font-size: 3.2vw;
  height: 12.66667vw;
  line-height: 12.66667vw;
  float: left;
}


.changepass .updatepass li #repeat-password{
  margin-left: 6vw
}

.changepass .updatepass li .icon {
  height: 100%;
  line-height: 13.33333vw;
}

.changepass .updatepass li .icon .switch {
  width: 4.93333vw;
  height: 2.26667vw;
  display: inline-block;
  margin-right: 2.66667vw;
}

.changepass .updatepass li .icon .clear {
  width: 4vw;
  height: 4vw;
  margin-right: 8.66667vw;
  margin-top: 0.4vw;
}

.changepass .updatepass input.conform {
  margin-left: 4vw;
}

.changepass .updatepass li:last-child {
  border-bottom: none;
}

.btn {
  width: 86.66667vw;
  height: 12.66667vw;
  background: #71b8fa;
  outline: none;
  border: none;
  color: #fff;
  font-size: 5.06667vw;
  margin: 13.33333vw auto;
  display: block;
  border-radius: 1.6vw;
}
