* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
  color: #fa570a;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
}

body {
  background: #f4f4f4;
}

header {
  height: 12vw;
  background: #fff;
  line-height: 12vw;
  text-align: center;
}

header .back {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 5.46667vw;
}

header .header-title {
  font-size: 4.66667vw;
  display: inline;
}

.register {
  margin: 4vw auto;
}

.register ul {
  background: #fff;
}

.register ul li {
  height: 15.2vw;
  line-height: 15.2vw;
  width: 94.66667vw;
  margin-left: 5.33333vw;
  border-bottom: 1px solid #efefef;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
}

.register ul li .item-input-Name {
  float: left;
  font-size: 4vw;
  padding-right: 8vw;
}

.register ul li .control-input-switch{
  float: right;
}

.register ul li input {
  outline: none;
  border: none;
  font-size: 3.6vw;
  float: left;
  padding-left: 0.66667vw;
  padding-right: 0.66667vw;
  padding: 4vw;
}

.register ul li .control-input-switch .switch {
  width: 4.93333vw;
  height: 2.26667vw;
  margin-right: 2.66667vw
}

.register ul li .control-input-switch .clear {
  width: 4vw;
  height: 4vw;
  float: right;
  margin-right: 6.66667vw;
  margin-top: 5.6vw;
}

.register ul .setleft .item-input-Name {
  padding-right: 0vw;
}

.register ul .setleft input {
  width: 41.33333vw;
}

.register ul .setleft-code input{
  width: 41.33333vw;
}

.register ul .setleft-three .text {
  padding-right: 12vw;
}

.register ul .setleft-three input {
  width: 32vw;
}

.register ul .item-input .sendMsg {
  font-size: 3.2vw;
  color: #1990fe;
  background: #fff;
  outline: none;
  border: none;
  margin-left: 8vw
}

.register ul .item-input #getImg{
  margin-left: 8vw
}

.register ul .setleft-setting .item-input-Name{
  padding-right: 4vw
}

.register ul .setleft-setting input {
  width: 50.66667vw;
}
.input-group{
  float: left;
}

.input-group img{
  float: left;
  margin-top: 2vw;
}

.input-group .input-control {
  color: #999999;
}

.input-group .input-control .input-control::-webkit-input-placeholder {
  font-size: 4vw;
  color: #999999 !important;
}

.register .register-explain {
  margin: 5.33333vw auto;
  font-size: 3.6vw;
}

.register .register-explain .protocol {
    margin-left: 6vw;
    position: relative;
    float: left;
}

.register .register-explain #checkbox {
  position: relative;
  float: left;
  -webkit-appearance:button;
  outline: none;
  background: transparent;
}

.register .register-explain .protocol{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items:center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: flex-start;
  height: 100%;
}


.register .register-explain .protocol span{
  color: #fa570a;
}

.register .register-explain .protocol input[type='checkbox'] {
    width: 4vw;
    height: 4vw;
    opacity: 0;
    display: inline-block;
    -webkit-appearance:button;
    outline: none;
    background: transparent;
    display: none;
}

.register .register-explain  .protocol label {
  position: relative;
  margin-left: 1.6vw;
  float: left;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items:center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: flex-start;
  height: 100%;
}

.register .register-explain .protocol .icon{
  width: 4vw; 
  height: 4vw;
  float: left;
  margin-right: 1vw;
}

.register .register-explain .register-text {
  width: 66.66667vw;
  height: 17.2vw;
  line-height: 17.2vw;
  margin-left: 6.66667vw;
  font-size: 3.6vw;
}

.register .register-explain .mark {
  color: #fa570a;
  margin-left: 1.73333vw;
  font-size: 3.6vw;
}

 .btn {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  margin-top: 15vw;
  margin-left: auto;
  margin-right: auto;
  width: 86.66667vw;
  height: 12.66667vw;
  background-color: #1990fe;
  border-radius: 2vw;
  font-size: 5.06667vw;
  color: #ffffff;
  border: none;
  outline: none;
  text-align: center;

}
