* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
}

a {
  text-decoration: none;
}

body {
  background: #f4f4f4;
}

.clear {
  clear: both;
}

header {
  background: #fff;
  height: 7.5vh;
  line-height: 7.5vh;
  text-align: center;
  color: #fff;
}

header .person {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 3.41667vh;
}

header .h-title {
  display: inline;
  text-align: center;
  font-size: 4.66667vw;
  color: #333;
}

header .remind {
  float: right;
  margin-top: 2.08333vh;
  width: 5.33333vw;
  height: 3.33333vh;
}

.container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
}

.container .banner {
  width: 100vw;
  height: 38.98051vw;
  position: relative;
  z-index: 1;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.container .banner .banner-img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.container .banner .bannerText {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 14.91754vh;
  top: 0;
}

.container .banner .bannerText .safe {
  margin-top: 4.16667vh;
  width: 46.8vw;
  height: 4.58333vh;
}

.container .banner .bannerText .order {
  margin-top: 1.66667vh;
  font-size: 4vw;
}

.container .content {
  width: 89.33333vw;
  background: #fff;
  border-radius: 0.4vw;
  text-align: center;
}

.container .content .phone-type {
  padding-left: 8vw;
  padding-right: 8vw;
  text-align: center;
}

.container .content .phone-type .left-mark {
  width: 11.33333vw;
  height: 0.25vh;
  background: #0486ff;
  float: left;
  margin-top: 10.4vw;
}

.container .content .phone-type .left-markimg {
  margin-top: 9.33333vw;
  margin-left: 1.06667vw;
}

.container .content .phone-type .head-title {
  color: #111;
  display: inline;
  font-size: 5.06667vw;
  margin-left: 4.13333vw;
  margin-right: 4.13333vw;
}

.container .content .phone-type .right-mark {
  float: right;
}

.container .content .phone-content .phone-img {
  margin-left: 10vh;
  margin-top: 5.33333vh;
  width: 17.06667vw;
  float: left;
}

.container .content .phone-content .phone-message {
  float: left;
  margin-left: 3.5vw;
  margin-top: 10vh;
  line-height: 4.16667vh;
  font-size: 4vw;
  text-align: left;
}

.container .content .phone-content .phone-message .max {
  color: #fb560a;
}

.container .content .phone-btn {
  width: 78.66667vw;
  background: #1990fe;
  font-size: 5.06667vw;
  border-radius: 1.06667vw;
  line-height: 7.91667vh;
  color: #fff;
  margin-top: 1.83333vh;
  margin-bottom: 1.58333vh;
  outline: none;
  border: none;
}

.container .recycle {
  border-radius: 0.4vw;
  width: 89.33333vw;
  background: #fff;
  margin: 3vw auto;
}

.container .recycle .recycle-title {
  text-align: center;
  font-size: 5.06667vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.container .recycle .recycle-text {
  font-size: 3.33333vw;
  margin-left: -0.5vh;    
  padding-top: 4vw;
}

.container .recycle .loan img {
  width: 6vw;
  height: 3.33333vh;
}

.container .recycle .recycleicon {
  padding-left: 1vw;
}

.container .recycle .recycleicon .recyclebox {
  height: 22vw;
}

.container .recycle .w100 {
  width: 7.83333vh;
  height: 7.83333vh;
  float: left;
  background: #e0f2fe;
  border-radius: 50%;
  margin-right: 2vw;
  margin-left: 2.66667vw;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  flex-flow: wrap;
}

.container .recycle .w100 img {
  width: 6vw;
  height: 3.75vh;
  margin-top: 4vw;
}

.container .recycle .than {
  width: 3.33333vw;
  height: 3.08333vh;
  float: left;
  margin-top: 2.08333vh;
}
