* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
  background: #fff;
}

.clear {
  clear: both;
}

header {
  height: 12vw;
  background: #fff;
  line-height: 12vw;
  text-align: center;
}

header .back {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 5.46667vw;
}

header .header-title {
  font-size: 4.66667vw;
}

.banner {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.banner img {
  width: 100vw;
  height: 37.33333vw;
}

.banner .bannerText {
  width: 53.33333vw;
  position: absolute;
  top: 3.33333vw;
  left: 26.66667vw;
}

.banner .bannerText .message {
  font-size: 4vw;
}

.banner .bannerText .money {
  font-size: 10.66667vw;
  margin-top: 3.33333vw;
}

.banner .bannerText .anew {
  color: #fff;
  font-size: 4vw;
  margin-top: 2vw;
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
}

.load {
  position: absolute;
  left: 50%;
  top: 40vw;
  z-index: 1;
}

.hide {
  display: none;
}

.load .load-img {
  width: 4.266666666666667vw;
  height: 4.266666666666667vw;
}

.details {
  padding-left: 5.33333vw;
  padding-right: 5.33333vw;
}

.details .rules {
  margin: 5vw auto;
}

.details .rules .rules-title {
  color: #333;
  font-size: 4vw;
}

.details .rules img {
  width: 5.46667vw;
  height: 5.06667vw;
  margin-right: 2.66667vw;
  float: left;
}

.details .rules .rules-text {
  font-size: 3.33333vw;
  color: #666;
  margin: 4vw auto;
}

.details .btn {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  width: 86.66667vw;
  height: 12.66667vw;
  background: #1990fe;
  color: #fff;
  line-height: 12.66667vw;
  border-radius: 2vw;
  margin-bottom: 8vw;
  outline: none;
  border: none;
  font-size: 5.06667vw;
}

.details .mark {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  top: 0;
  z-index: 3;
}

.details .mark .dialog {
  width: 74.66667vw;
  background: #fff;
  position: absolute;
  left: 12.66667vw;
  top: 52.93333vw;
  box-shadow: 0 0 4vw #ddd;
  border-radius: 2vw;
}

.details .mark .dialog .dialog-title {
  font-size: 4.26667vw;
  text-align: center;
  margin-top: 6.66667vw;
}

.details .mark .dialog .dialog-content {
  margin-top: 4vw;
  border-bottom: 0.8vw solid #ddd;
  padding-left: 5.06667vw;
  padding-right: 5.06667vw;
}

.details #yes {
  float: left;
  font-size: 4.26667vw;
  margin-top: 1vw;
}

.details .mark .dialog .dialog-content .content-text {
  font-size: 3.6vw;
  line-height: 6.66667vw;
}

 .select-box {
margin: 5.33333vw auto;
  font-size: 3.6vw;
}

.select-box .protocol {
    position: relative;
    float: left;
}

 .select-box #checkbox {
  position: relative;
  float: left;
  -webkit-appearance:button;
  outline: none;
  background: transparent;
}

.select-box .protocol span{
  color: #fa570a;
}

.select-box .protocol input[type='checkbox'] {
    width: 4vw;
    height: 4vw;
    opacity: 0;
    display: inline-block;
    -webkit-appearance:button;
    outline: none;
    background: transparent;
    display: none;
}

.select-box  .protocol label {
  position: relative;
  margin-left: 1.6vw;
  float: left;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items:center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: flex-start;
  height: 100%;
}

.select-box .protocol .icon{
  width: 4vw; 
  height: 4vw;
  float: left;
  margin-right: 1vw;
}

.select-box .register-text {
  width: 66.66667vw;
  height: 17.2vw;
  line-height: 17.2vw;
  margin-left: 6.66667vw;
  font-size: 3.6vw;
}

.select-box .mark {
  color: #fa570a;
  margin-left: 1.73333vw;
  font-size: 3.6vw;
}


.details .mark .dialog .dialog-footer {
  height: 13.33333vw;
  border-radius: 0 0 2.66667vw 2.66667vw;
}

.details .mark .dialog .dialog-footer button {
  outline: none;
  border: none;
  width: 50%;
  height: 100%;
  color: #48a6fe;
  float: left;
  background: #fff;
  font-size: 4.26667vw;
}

iframe {
  width: 100%;
}

.details .mark .dialog .dialog-footer button:first-child {
  border-right: 0.8vw solid #ddd;
  border-radius: 0 0 0 2.66667vw;
}

.details .mark .dialog .dialog-footer button:last-child {
  border-radius: 0 0 2.66667vw 0;
}
.btn {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  margin-top: 15vw;
  margin-left: auto;
  margin-right: auto;
  width: 86.66667vw;
  height: 12.66667vw;
  background-color: #1990fe;
  border-radius: 2vw;
  font-size: 5.06667vw;
  color: #ffffff;
  border: none;
  outline: none;
  text-align: center;
}
