* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
}

.header {
  width: 100%;
  height: 17.2vw;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  line-height: 11.6vw;
  font-size: 4.8vw;
  position: relative;
}

.header .sign {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  padding-top: 5.6vw;
  padding-left: 4.8vw;
  padding-right: 4.8vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
}

.header .sign div {
  width: auto;
  height: 100%;
}

.header .title {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.header {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

body {
  padding-top: 17.2vw;
}

body {
  background: #f3f3f3;
}

header {
  height: 12vw;
  background: #fff;
  line-height: 12vw;
  text-align: center;
}

header .back {
  float: left;
  margin-top: 3.33333vw;
  width: 4.66667vw;
  height: 5.46667vw;
}

header .header-title {
  font-size: 4.66667vw;
}

.order-list .recycle-list-item {
  width: 92.13333vw;
  height: 38.4vw;
  margin: 3.86667vw auto;
  position: relative;
}

.order-list .recycle-list-item .message {
  position: absolute;
  left: 0;
  top: 4.4vw;
  padding-left: 6.8vw;
  width: 100%;
}

.order-list .recycle-list-item img{
  width: 92.13333vw;
  height: 38.4vw;
}

.order-list .recycle-list-item .message .phonetype {
  float: left;
  font-size: 4.26667vw;
}

.order-list .recycle-list-item .message .details {
  color: #666;
  float: right;
  margin-right: 3.2vw;
  font-size: 3.46667vw;
}

.order-list .recycle-list-item .phone-price {
  position: absolute;
  left: 0;
  bottom: 3vw;
  width: 100%;
}

.order-list .recycle-list-item .phone-price ul li {
  width: 29.33333vw;
  height: 13.33333vw;
  float: left;
  position: relative;
  text-align: center;
}

.order-list .recycle-list-item .phone-price ul li .help {
  position: absolute;
  width: 4vw;
  height: 4vw;
  right: 2.66667vw;
  top: 0;
}

.order-list .recycle-list-item .phone-price ul li p {
  color: #666;
  font-size: 3.73333vw;
}

.order-list .recycle-list-item .phone-price ul li span {
  margin-top: 2.66667vw;
  font-size: 5.06667vw;
  display: inline-block;
}

#scheduleList{
  background: #fff;
}

.hide{
  display: none!important;
}

.records-details-status {
  margin: 5.33333vw auto;
  width: 100vw;
  position: relative;
}

.records-details-status .order-content .bodrenone {
  border-bottom: 0 !important;
}

.records-details-status .order-content .order-list-item {
  width: 87.73333vw;
  height: 24vw;
  float: right;
  border-bottom:1px solid #ccc;
  padding-top: 3.33333vw;
  background: #fff;
  color: #666;
}

.records-details-status .order-content .order-list-item .mark {
  color: #333;
}

.records-details-status .order-content .order-list-item .currentrecords-details-status {
  font-size: 4vw;
  line-height: 6.66667vw;
}

.records-details-status .order-content .order-list-item .message {
  font-size: 3.33333vw;
  line-height: 6.66667vw;
}

.records-details-status .order-content .order-list-item .time {
  font-size: 3.2vw;
  padding-bottom: 1.86667vw;
}

.records-details-status .schedule-icon {
  position: absolute;
  top: 5vw;
  
}

.records-details-status .schedule-icon ul .status-success {
  position: relative;
  z-index: 2;
  left: 3.9vw;
  display: inline-block;
  color: #1f8cff;
}

.records-details-status .schedule-icon ul .records-details-statusicon img {
  height: 6vw;
  width: 6vw;
}

.records-details-status .schedule-icon ul .status-connect {
  height: 17.33333vw;
}

.clear{
  clear: both;
}

.records-details-status .schedule-icon ul .status-connect img {
  width: 0.26667vw;
  height: 18.93333vw;
  position: relative;
  left: 5.46667vw;
  top: -1vw;
}

.honour {
  margin: 2vw auto 0;
  text-align: center;

}

.honour .time {
  display: block;
  text-align: center;
}

.honour .time img {
  width: 4vw;
  height: 4vw;
  margin-right: 1vw;
  display: inline-block;
}

 .honour .time span {
  font-size: 5.06667vw;
  margin-top:-1vw;

}

 .honour .time p span{
  display: inline-block;
}

.hide{
  display: none!important;
}

 .honour .btn {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  width: 86.66667vw;
  height: 10.66667vw;
  font-size: 5.06667vw;
  text-align: center;
  background: #1990fe;
  margin: 3vw auto 0;
  line-height: 10.66667vw;
  color: #fff;
  border-radius: 3vw;
  outline: none;
  border: none;
  text-align: center;
}

.mark{
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, .3);
  position: absolute;
  left: 0;
  top: 0;
}

.mark .dialog{
  width: 74.66666666666667vw;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -37vw;
  border-radius:2vw;
  top: 62vw;
}

.mark .dialog .d-head{
  padding-top: 5vw;
  text-align: center;
}
.mark .dialog .details{
  padding-left: 4.6vw;
  padding-right: 4.6vw;
  font-size: 3.5vw;
  padding-top: 4vw;
  padding-bottom: 4.6vw;
  border-bottom: 1px solid #ddd;
  line-height: 6vw;
  
}
.mark .dialog .dialog-footer{
  text-align: center;
  line-height: 13vw;
  height: 13vw;
  color: #53abfe;
}

.hide{
  display: none!important;
}
